@model IEnumerable<AccountantWeb.Models.NoteModel>

@{
    ViewData["Title"] = "Index";

}

<h2 style="text-align: center;color: black">@localizer["Notes"]</h2>

<div class="row" data-toggle="dragula">

    @if (!Model.Any())
    {
        <h1 style="color: red">@localizer["NoNotes"]</h1>
    }
    @foreach (var item in Model.Reverse())
    {
        if ((User.IsInRole("Admin") && item.RoleName == "admin") || (User.IsInRole("User") && item.RoleName == "user"))
        {
            <div class="col-sm-6 col-md-4">
                <div class="card card-sm">

                    <div class="card-body d-flex">

                        <div class="flex">

                            <small class="text-muted">@item.Date</small><br>
                            <h5 class="card-title m-0">@item.Name</h5>

                            <h5>@item.Author</h5>

                        </div>

                        <li class="nav-item dropdown ml-1 ml-md-3">
                            <a data-toggle="dropdown"
                               href="#"
                               role="button">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   asp-action="Details" asp-controller="Note" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> @localizer["View"]
                                </a>
                                <a class="dropdown-item"
                                   asp-action="Edit" asp-controller="Note" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> @localizer["Edit"]
                                </a>
                                <a class="dropdown-item"
                                   asp-action="Delete" asp-controller="Note" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> @localizer["Delete"]
                                </a>
                            </div>
                        </li>

                    </div>
                </div>


            </div>
        }
    }

</div>