@model AccountantWeb.Models.CardModel

@{
    ViewData["Title"] = "Create";
}

<h1>@localizer["CardCreate"]</h1>
@{
    string role(string RoleName)
    {
        string s = "user";
        if (User.IsInRole(RoleName))
        {
            s = "admin";
        }
        return s;
    }
}
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Author" value="@User.Identity.Name" hidden>
            <input asp-for="RoleName" value="@role("Admin")" hidden>
            <div class="form-group">
                <label asp-for="Name" class="control-label">@localizer["Name"]</label>
                <input asp-for="Name" class="form-control" placeholder="@localizer["Name"]"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label">@localizer["CardNumber"]</label>
                <input asp-for="CardNumber" type="number" class="form-control" placeholder="@localizer["CardNumber"]"/>
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CVV" class="control-label">CVV</label>
                <input asp-for="CVV" type="number" class="form-control" placeholder="CVV"/>
                <span asp-validation-for="CVV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">@localizer["EndDate"]</label>
                <input asp-for="EndDate" type="number" placeholder="@localizer["EndDate"]" class="form-control"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">@localizer["Amount"]</label>
                <input asp-for="Amount" class="form-control" placeholder="@localizer["Amount"]"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Currency" class="control-label">@localizer["Currency"]</label>
                <input asp-for="Currency" readonly value="manat" class="form-control" placeholder="@localizer["Currency"]"/>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="@localizer["CreateReceipt"]" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@localizer["Back"]</a>
</div>