@model AccountantWeb.Models.CardModel

@{
    ViewData["Title"] = "Details";
}

<h1>@localizer["View"]</h1>

<div>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                @localizer["Name"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @localizer["CardNumber"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CardNumber)
            </dd>
            <dt class="col-sm-2">
                CVV
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CVV)
            </dd>
            <dt class="col-sm-2">
                @localizer["EndDate"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EndDate)
            </dd>
            <dt class="col-sm-2">
                @localizer["Amount"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Amount)
            </dd>
            <dt class="col-sm-2">
                @localizer["Currency"]
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Currency)
            </dd>
        </dl>
</div>
<div>
    <a asp-action="Create" asp-controller="Turnover"  class="btn btn-primary">@localizer["Transfer"]</a>
    <a asp-action="Index" asp-controller="Turnover" class="btn btn-primary">@localizer["Receipts"]</a>
    
</div>
