@model IEnumerable<CardModel>



@{
    string color(string s)
    {
        if (s == "Gəlir")
        {
            return "green";
        }
        return "red";
    }
}

<h2 style="text-align: center;color: black">@localizer["Cards"]</h2>

<div class="row" data-toggle="dragula">

    @if (!Model.Any())
    {
        <h1 style="color: red">@localizer["NoCard"]</h1>
    }

    
    @foreach (var item in Model.Reverse())
    {
        if ((User.IsInRole("Admin") && item.RoleName == "admin") || (User.IsInRole("User") && item.RoleName == "user"))
        {
            <div class="col-sm-6 col-md-4">
                <div class="card card-sm">

                    <div class="card-body d-flex">


                        <div class="flex">
                            <small class="text-muted">@item.Name</small><br>
                            <small >@item.CardNumber</small>
                            <h5 class="card-title m-0">@item.CVV</h5>
                            <small >@item.Amount @item.Currency</small> <br>
                            @*     <a asp-action="Create" asp-controller="Turnover" class="btn btn-primary">Transfer</a> *@
                            @*     <a asp-action="Index" asp-controller="Turnover" class="btn btn-primary">Qəbzlər</a> *@
                            @*  *@
                        </div>

                        <li class="nav-item dropdown ml-1 ml-md-3">
                            <a data-toggle="dropdown"
                               href="#"
                               role="button">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   asp-action="Details" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> @localizer["View"]
                                </a>
                                <a class="dropdown-item"
                                   asp-action="Edit" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> @localizer["Edit"]
                                </a>
                                <a class="dropdown-item"
                                   asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> @localizer["Delete"]
                                </a>
                            </div>
                        </li>
                    </div>
                </div>


            </div>
        }
    }






</div>