@model AccountantWeb.Models.DebtsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Bax</h1>

<div>
    <hr/>
    <dl class="row">

        <dt class="col-sm-2">
            Müəllif
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>


        <dt class="col-sm-2">
            Başlıq
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Tarix
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            Məbləğ
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            Valyuta
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        

        <dt class="col-sm-2">
            Faiz
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Percent)
        </dd>
        <dt class="col-sm-2">
            Rəy
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Create" asp-controller="DebtsRepayment" class="btn btn-primary">Ödəniş et</a>
    <a asp-action="Index" asp-controller="DebtsRepayment"  class="btn btn-primary">Qəbzlər</a>
</div>