@model IEnumerable<DebtsModel>

<h2 style="text-align: center;color: black">@localizer["Debts"]</h2>




<div class="row" data-toggle="dragula">

    @if (!Model.Any())
    {
        <h1 style="color: red">@localizer["NoDebt"]</h1>
    }

    @{
        string paid(bool b)
        {
            string s = localizer["Unpaid"].ToString();

            if (b)
            {
                s = localizer["Paid"].ToString();
            }
            return s;
        }

        string style(bool b)
        {
            string s = "red";

            if (b)
            {
                s = "green";
            }
            return s;
        }

    }




    <table class="table">
        <tr>
            <th>
                @localizer["Author"]
            </th>
            <th>
                @localizer["Title"]
            </th>
            <th>
                @localizer["Date"]
            </th>
            <th>
                @localizer["Amount"]
            </th>

            <th>
                @localizer["Faiz"]
            </th>
            <th>
                @localizer["Comment"]
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Author
                </td>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    @item.Amount @item.Currency
                </td>
                <td>
                    @item.Percent %
                </td>
                <td style="word-break: break-all">
                    <style>
                            #more {display: none;}
                            </style>
                    @{
                        string comment = item.Comment;
                        int lenght = 30;
                        int br = 29;
                    }
                    @for (int i = 0; i < comment.Length; i++)
                    {
                        if (i <= lenght)
                            @comment[i]
                    }
                    @if (comment.Length > lenght)
                    {
                        <span id="dots">...</span>
                        <span id="more">

                            @for (int i = lenght; i < comment.Length; i++)
                            {
                                @comment[i]
                            }
                        </span>

                        <button onclick="myFunction()" id="myBtn">Read more</button>
                    }

                </td>


                <td>
                    <li class="nav-item dropdown ml-1 ml-md-3">
                        <a data-toggle="dropdown"
                           href="#"
                           role="button">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"
                               asp-action="Details" asp-route-id="@item.Id">
                                <i class="material-icons">edit</i> Bax
                            </a>
                            <a class="dropdown-item"
                               asp-action="Edit" asp-route-id="@item.Id">
                                <i class="material-icons">edit</i> Redaktə et
                            </a>
                            <a class="dropdown-item"
                               asp-action="Delete" asp-route-id="@item.Id">
                                <i class="material-icons">edit</i> Sil
                            </a>
                        </div>
                    </li>
                </td>

            </tr>
        }

    </table>


</div>