@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "Bütün user-lər";
}

<h1 style="text-align: center">Bütün User-lər</h1>

@if (Model.Any())
{
    <div style="margin: 0 auto;width:1000px;"> 
    <a asp-action="Register" asp-controller="Account"
       class="btn btn-primary mb-3"  style="width:auto">
        Yeni User yarat
    </a>

    @foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                User Id : @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@user.UserName</h5>
            </div>
            <form method="post" asp-action="Deleteuser" asp-route-Id="@user.Id">
            <div class="card-footer">
                <a asp-controller="Administration" asp-action="EditUser" asp-route-Id="@user.Id" class="btn btn-danger">Redaktə et</a>
                <button type="submit" class="btn btn-danger" onclick="return confirm('Bu hesabı silmək istədiyinizə əminsiniz: @user.UserName')">Sil</button>
            </div>
            </form>
        </div>
    }
    </div>
}
else
{
    <div class="card" style="margin: 0 auto;width:1000px;">
        <div class="card-header">
            User yaradılmayıb
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Aşağıdakı buton ilə User yarat
            </h5>
            <a class="btn btn-primary" style="width:auto"
               asp-controller="Account" asp-action="Register">
                Yeni User yarat
            </a>
        </div>
    </div>
}