@model IEnumerable<AccountantWeb.Models.DebtRepaymentModel>

@{
    ViewData["Title"] = "Index";
}

<h2 style="text-align: center;color: black">Borxlar > Ödəniş Qəbzləri</h2>


<table class="table">
    <thead>
    <tr>

        <th>
            Müəllif
        </th>
        <th>
            Tarix
        </th>
        <th>
            Məbləğ
        </th>
        <th>
            Valyuta
        </th>
        <th>
            Rəy
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        if (item.DebtsId == ViewBag.DebtsId)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    <li class="nav-item dropdown ml-1 ml-md-3">
                        <a data-toggle="dropdown"
                           href="#"
                           role="button">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item"
                               asp-action="Details" asp-route-id="@item.Id">
                                <i class="material-icons">edit</i> Bax
                            </a>
                            
                            <a class="dropdown-item"
                               asp-action="Delete" asp-route-id="@item.Id">
                                <i class="material-icons">edit</i> Sil
                            </a>
                        </div>
                    </li>
                </td>
            </tr>
        }
    }
    </tbody>
</table>