@model AccountantWeb.Models.TurnoverModel

@{
    ViewData["Title"] = "Delete";
}


<h1>@localizer["DeletePage"]</h1>

<div>
    <hr/>
    <dl class="row">

        <dt class="col-sm-2">
            @localizer["Name"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @localizer["Date"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @localizer["Amount"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @localizer["Currency"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
            @localizer["Comment"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @localizer["Status"]
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="@localizer["DeletePage"]" class="btn btn-danger"/> |
        <a asp-action="Index">@localizer["Back"]</a>
    </form>
</div>