@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model IEnumerable<TurnoverModel>


<h2 style="text-align: center;color: black">Gəlir & Xərc</h2>

<div class="row" data-toggle="dragula">

    @if (!Model.Any())
    {
        <h1 style="color: red">Qəbz yoxdur</h1>
    }


    @foreach (var item in Model.Reverse())
    {
        if (item.CardId == ViewBag.BagCardId)
        {
            <div class="col-sm-6 col-md-4">
                <div class="card card-sm">

                    <div class="card-body d-flex">


                        <div class="flex">
                            <small class="text-muted">@item.Date</small><br>
                            <small >Müəllif: @item.Author</small>
                            <h5 class="card-title m-0">@item.Status</h5>
                            <small >@item.Amount @item.Currency</small> <br>

                        </div>

                        <li class="nav-item dropdown ml-1 ml-md-3">
                            <a data-toggle="dropdown"
                               href="#"
                               role="button">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"
                                   asp-action="Details" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> Bax
                                </a>

                                <a class="dropdown-item"
                                   asp-action="Delete" asp-route-id="@item.Id">
                                    <i class="material-icons">edit</i> Sil
                                </a>
                            </div>
                        </li>
                    </div>
                </div>


            </div>
        }
    }

 




</div>