@model Profit

<h1>Sil</h1>

<div class="card card-body">
    <div class="row">
        @*<div class="col-lg-4">
                <h4 class="card-title">Gəlir</h4>
                <p>LearnPlus supports all of Bootstrap's default form styling in addition to a handful of new input types and features. Please <a href="https://getbootstrap.com/docs/4.1/components/forms/" target="_blank">read the official documentation</a> for a full list of options from Bootstrap's core library.</p>
            </div>*@
        <div class="col-lg-8 d-flex align-items-center">
            <div class="flex" asp-controller="home" asp-action="index" method="post">
                <input type="hidden" asp-for="Id"/>

                <div class="form-group">
                
                                    <h3>Ad:</h3>
                                    <h5>@Model.Name</h5>
                
                                </div>
                <div class="form-group">

                    <h3>Müəllif:</h3>
                    <h5>@Model.Author</h5>

                </div>

                <div class="form-group">
                    <h3>Tarix:</h3>
                    <h5>@Model.Date</h5>
                </div>
                <div class="form-group">

                    <h3>Məbləğ:</h3>
                    <h5>@Model.Amount</h5>

                </div>
                <div class="form-group">


                    <h3>Valyuta:</h3>
                    <h5>@Model.Currency</h5>

                </div>
                <div class="form-group">


                    <h3>Valyuta:</h3>
                    <h5>@Model.Status</h5>

                </div>

                <div class="form-group">

                    <h3>Rəy:</h3>
                    <h5>@Model.Comment</h5>

                </div>

                <div class="form-group">

                    <h3>Şəxsi:</h3>
                    <h5>@Model.Comment</h5>

                </div>
                <br/>


                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id"/>
                    <input type="submit" value="Delete" class="btn btn-primary"/> |
                    <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Ləğv et</a>
                </form>

            </div>

        </div>
    </div>
</div>