@model Profit

<h1>@localizer["View"]</h1>

<div class="card card-body">
    <div class="row">
        @*<div class="col-lg-4">
            <h4 class="card-title">Gəlir</h4>
            <p>LearnPlus supports all of Bootstrap's default form styling in addition to a handful of new input types and features. Please <a href="https://getbootstrap.com/docs/4.1/components/forms/" target="_blank">read the official documentation</a> for a full list of options from Bootstrap's core library.</p>
        </div>*@
        <div class="col-lg-8 d-flex align-items-center">
            <form class="flex" asp-controller="home" asp-action="index" method="post">

                <div class="form-group">

                    <h3>@localizer["Name"]:</h3>
                    <h5>@Model.Name</h5>

                </div>
                <div class="form-group">

                    <h3>@localizer["Author"]:</h3>
                    <h5>@Model.Author</h5>

                </div>
                <div class="form-group">
                    <h3>@localizer["Date"]:</h3>
                    <h5>@Model.Date</h5>
                </div>
                <div class="form-group">

                    <h3>@localizer["Amount"]:</h3>
                    <h5>@Model.Amount</h5>

                </div>
                <div class="form-group">


                    <h3>@localizer["Currency"]:</h3>
                    <h5>@Model.Currency</h5>

                </div>

                <div class="form-group">


                    <h3>@localizer["Status"]:</h3>
                    <h5>@Model.Status</h5>

                </div>

                <div class="form-group">

                    <h3>@localizer["Comment"]:</h3>
                    <h5>@Model.Comment</h5>

                </div>


            </form>
        </div>
    </div>
</div>